server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/neomart_db
    username: neomart_user
    password: neomart_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: product-service
